<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='translation'>
    选择分类：<span class='cate'></span><br>
    花费：<span class='money'></span>元
  </div>
  
  <%= f.hidden_field :category_id %>
  <%= f.hidden_field :money %>

  <div class="field">
    <%= f.label :detail %><br>
    <%= f.text_field :detail %>
  </div>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit "提交" %>
  </div>
<% end %>

<script type="text/javascript">
  var categories, cateCode, cateId, money, map = {};

  $(function (event) {
    $('#item_detail').keyup(function (event) {
      var $input = $(this)
        , value = $input.val().replace('，', ',') // replace chinese comma to english comma
        , newCateCode;

      // comma is the key
      if (!~value.indexOf(',')) {
        if (end_with_number(value)) {
          var index = 1 * value[value.length - 1]
            , category = categories[index - 1];

          cateId = category.id;
          $('#item_category_id').val(cateId);

          refresh_translation_category([category])
        } else if (value !== '' && value !== null) {
          $.getJSON('/categories?pinyin=' + value)
           .then(translate);
        }
      } else {
        money = value.split(',')[1];
        $('#item_money').val(money);

        refresh_translation_money(money);
      }

      function translate (data, status) {
        if (data.length == 1) {
          cateId = data[0]['id'];
          $('#item_category_id').val(cateId);

          refresh_translation_category(data);
        } else {
          categories = data;
          if (categories.length > 9) {
            categories.length = 9;
          }

          refresh_translation_category(data);
        }
      }

      function get_number_photo (number) {
        var photo_map = {
          1: '①',
          2: '②',
          3: '③',
          4: '④',
          5: '⑤',
          6: '⑥',
          7: '⑦',
          8: '⑧',
          9: '⑨'
        }
        return photo_map[number + 1];
      }

      function refresh_translation_category (data) {
        var $cate = $('.translation .cate');

        if (data.length === 0) {
          $cate.html("No Category Selected!");
        } else if (data.length === 1) {
          $cate.html(data[0]["name"]);
        } else {
          var html = $.map(data, function (item, index, en) {
            return get_number_photo(index) + item.name;
          }).join(', ');
          $cate.html(html);
        }
      }

      function refresh_translation_money (money) {
        $('.translation .money').html(money);
      }

      function end_with_number(value) {
        if (value.length === 0) return false;

        return (1 * value[value.length - 1]) > 0;
      }
    });
  });
</script>