<h3>支出一览表</h3>

<!-- summary of year, month and today's expanding -->
<table class='table'>
  <thead>
    <tr>
      <th>时段</th>
      <th>支出</th>
      <th>收入</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>本年</td>
      <td><%= @year_total %></td>
      <td></td>
    </tr>
    <tr>
      <td>本月</td>
      <td><%= @month_total %></td>
      <td></td>
    </tr>
    <tr>
      <td>今天</td>
      <td><%= @day_total %></td>
      <td>/</td>
    </tr>
  </tbody>
</table>

<!-- list of today's items -->
<table class='table'>
  <thead>
    <tr>
      <th>序号</th>
      <th>分类</th>
      <th>金额</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @today_items.each_with_index do |item, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= item.category.name %></td>
        <td><%= item.money %></td>
        <td><%= link_to "更改", edit_item_path(item) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class='table'>
  <thead>
    <tr>
    <% @recent_10_days_total.each do |day_total| %>
      <th>
        <%= "#{day_total.date.month}月#{day_total.date.day}日" %>
      </th>
    <% end %>
    </tr>
  </thead>
  <tbody>
      <tr>
        <% @recent_10_days_total.each do |day_total| %>
          <td><%= day_total.total %></td>
        <% end %>        
      </tr>
  </tbody>
</table>

<table class='table'>
  <thead>
    <tr>
    <% @recent_10_months_total.each do |day_total| %>
      <th>
        <%= "#{day_total.month.to_i}月" %>
      </th>
    <% end %>
    </tr>
  </thead>
  <tbody>
      <tr>
        <% @recent_10_months_total.each do |day_total| %>
          <td><%= day_total.total %></td>
        <% end %>        
      </tr>
  </tbody>
</table>

<%= link_to 'New Item', new_item_path %>
