<h3>支出一览表</h3>

<table class='table'>
  <thead>
    <tr>
      <th>时段</th>
      <th>合计</th>
      <th>平均</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>本年</td>
      <td><%= @year_total %></td>
      <td><%= (@year_total / @year_days).round(1) %></td>
    </tr>
    <tr>
      <td>本月</td>
      <td><%= @month_total %></td>
      <td><%= (@year_total / @month_days).round(1) %></td>
    </tr>
    <tr>
      <td>今天</td>
      <td><%= @day_total %></td>
      <td>/</td>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
