<h1>Listing income_categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ancestry</th>
      <th>Pinyin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @income_categories.each do |income_category| %>
      <tr>
        <td><%= income_category.name %></td>
        <td><%= income_category.ancestry %></td>
        <td><%= income_category.pinyin %></td>
        <td><%= link_to 'Show', income_category %></td>
        <td><%= link_to 'Edit', edit_income_category_path(income_category) %></td>
        <td><%= link_to 'Destroy', income_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Income category', new_income_category_path %>
