<%= form_for(@income_item) do |f| %>
  <% if @income_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@income_item.errors.count, "error") %> prohibited this income_item from being saved:</h2>

      <ul>
      <% @income_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :income_category_id %><br>
    <%= f.text_field :income_category_id %>
  </div>
  <div class="field">
    <%= f.label :money %><br>
    <%= f.text_field :money %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
